body {
  @apply bg-cover bg-no-repeat bg-center;
  background-image: url("/src/assets/main-bg.jpg");
  background-attachment: fixed;
  margin: 0; /* прибрати дефолтні відступи */
  min-height: 100vh;
}
